.content-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 835px;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

.item-box .item-group:nth-of-type(1) {
    height: 490px;
}

.item-group {
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    padding: 10px 0px;

    width: 350px;

    background-color: white;
}

.b-logo {
    margin: 22px auto 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 175px;
    height: 51px;
}

.b-logo>img {
    width: 175px;
}

.signup-items {
    display: flex;
    flex-direction: column;
}

.signup-title {
    margin: 0px 40px 10px;

    width: 267.78px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 3px;

    text-align: center;
    color: #8e8e8e;
}

.facebook-login {
    margin: 8px 40px;

}

.facebook-login-btn {
    border: none;
    border-radius: 3px;
    padding: 5px 9px;

    width: 267.78px;
    height: 31.75px;

    color: white;

    background-color: #0095f6;
    cursor: pointer;

}

.facebook-login-btn>i {
    font-size: 17px;
    margin-right: 5px;
}

.signup-or {
    margin: 10px 40px 18px;
    width: 267.78px;
}

.hr-sect {
    display: flex;
    align-items: center;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background-color: #dbdbdb;
    height: 1px;
}

.hr-sect span {
    margin: 0px 15px;
    line-height: 15px;
    color: #8e8e8e;
    font-weight: 500;
}

.input-group {
    display: flex;
    margin: 0px 40px 6px;

    border: 1px solid #dbdbdb;
    border-radius: 3px;

    width: 267.78px;
    height: 38.21px;

    background-color: #fafafa;
}

.input-data {
    position: relative;
    width: 100%;
}

.input-data label {
    position: absolute;
    top: 9px;
    left: 8px;

    color: #8e8e8e;
    transition: 0.2s;
}

.input-data input {
    padding: 9px 0px 7px 8px;
    border: none;
    outline: none;

    width: 100%;
    height: 35.99px;

    background-color: #fafafa;
}

.input-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-msg>i {
    font-size: 20px;
    margin: 0px 8px;

    color: rgb(255, 97, 97)
}

.password-visible {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 8px;

    white-space: nowrap;

    cursor: pointer;
}

.submit-btn {
    margin: 8px 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 9px;

    width: 267.78px;
    height: 30px;

    color: white;

    background-color: #0095f6;
    cursor: pointer;
}

.item-box .item-group:nth-of-type(2)>p {
    text-align: center;
    margin: 15px;
}

.item-box .item-group:nth-of-type(2) a {
    color: #0095f6;
}

.download-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 102px;
}